/*core/styles/atomic/icon_button.qss*/

/* ===== Boutons atomic ===== */

QPushButton[variant="icon-button"] {
    background-color: #ffffff;
    border: none;
    padding: 0;
    margin: 0;
}

QPushButton[variant="icon-button"]:hover {
    background-color: #378ef1;
    border-radius: 6px;
}

QPushButton[variant="icon-button"]:pressed {
    background-color: #033772;
}

